# Map, Filter, Reduce, Lambda & Recursion

## Tasks Today:

1) <b>Lambda Functions</b> <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Syntax <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Saving to a Variable <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) Multiple Inputs <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) Passing a Lambda into a Function <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) Returning a Lambda from a Function <br>
 &nbsp;&nbsp;&nbsp;&nbsp; f) In-Class Exercise #1 <br>
2) <b>Map</b> <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Syntax <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Using Lambda's with Map <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) In-Class Exercise #2 <br>
3) <b>Filter</b> <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Syntax <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Using Lambda's with Filter <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) In-Class Exercise #3 <br>
4) <b>Reduce</b> <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Syntax <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Using Lambda's with Reduce <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) In-Class Exercise #4 <br>
5) <b>Recursion</b> <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Implementing a Base <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Writing a Factorial Function <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) In-Class Exercise #5 <br>
6) <b>Generators & Iterators</b> <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Yield Keyword <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Inifinite Generator <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) In-Class Exercise #6 <br>
7) <b>Exercises</b> <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Exercise #1 - Filtering Empty Strings <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Exercise #2 - Sorting with Last Name <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) Exercise #3 - Conversion to Farhenheit <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) Exercise #4 - Fibonacci Sequence <br>

## Lambda Functions <br>
<p>Lambda functions... or "Anonymous Functions" are referring to inline functions with no name. The keyword lambda denotes the no name function, and executes within a single line. Without saving it to a variable; however, it is not able to be used, unless passed in either as a paramater or within list comprehension.<br>Written as "(keyword lambda) (one or more inputs) (colon) (function to be executed)"</p>

#### Syntax

In [1]:
def add_two(x):
    return x+2

print(add_two)

<function add_two at 0x0000020D6EE34940>

In [2]:
lambda x: x +2

In [3]:
print(lambda x: x +2)

<function <lambda> at 0x0000020D6EE34CA0>

In [4]:
# IIFE - Immediately Invoked function Expression
# Execute a lambda function immediately after creation
# Syntax:   (Lambdax,y,.ect: expression) (arg1,arg2,ect..)

(lambda x: x+2)(10)

12

#### Saving to a Variable

In [7]:
named_lambda = lambda y:y+2 #can be anything y,x,num, ect..

print(named_lambda)

named_lambda(20)

<function <lambda> at 0x0000020D6EE34EE0>

22

#### Multiple Inputs

In [11]:
def multiply(x,y,z):
    return x*y*z

multiply(10,2,2)

40

In [10]:
# As IIFE
(lambda x,y,z:x*y*z)(10,2,2)

40

#### Passing a Function into a Function

In [13]:
def apply_func(f,name):
    """
    f -> funtion to execute
    name -> name to execute the function on
    """
    return f(name)

def get_first_letter(string):
    return string[0]

apply_func(get_first_letter,"Kaylie")

'K'

#### Passing a Lambda into a Function

In [14]:
# Call the apply_fun fuinction, pass in a lambda argument "f", pass in "codingtemple" as name argument

apply_func(lambda string: string[-1],'codingtemple')

'e'

In [16]:
apply_func(lambda string: string.upper(),'lowercase to uppercase')

'LOWERCASE TO UPPERCASE'

#### Returning a Function from a Function

In [24]:
# Regularly defined function
# takes in a "num" argument

def create_multiplier(num):
#     Define a locally scoped function that takes an "x"argument
    def inner_func(x):
#         Return x* the outer scopes "num"value
        return x * num
#     Return the reference to the function defined within this create_multiplier function
    return inner_func

five_times = create_multiplier(5)
print(five_times)
five_times

<function create_multiplier.<locals>.inner_func at 0x0000020D7098DC10>

In [25]:
five_times(10) #this outer number is considered the "x" in inner_func

50

In [26]:
five_times(2)

10

In [36]:
print(num)

NameError: name 'num' is not defined

In [37]:
three_times = create_multiplier(3)
print(three_times)

<function create_multiplier.<locals>.inner_func at 0x0000020D70923040>

In [38]:
three_times(10)

30

#### Returning a Lambda from a Function

In [42]:
# create a function that takes in a num
def new_multiplier(num):
    
    return lambda x: x*num

five =new_multiplier(5)
print(five)
three =new_multiplier(3)
print(three)

print(five(10),three(10))
print(five(10) + three(10))

<function new_multiplier.<locals>.<lambda> at 0x0000020D70A53B80>
<function new_multiplier.<locals>.<lambda> at 0x0000020D70A74A60>
50 30
80

#### If Statements within Lambdas

In [43]:
def do_something(num):
    if num >10:
        return num **2
    else:
        return num + 10
    
do_something(5)

15

In [44]:
# ternary: Value_if_true if comdition else value_if_false

def do_something_again(num):
    return num **2 if num > 10 else num + 10

do_something(5)

15

In [46]:
# Lambda input(s): <value to return if True> if <condition> else <value to return if false>

# IIFE

(lambda num: num **2 if num > 10 else num + 10)(5)

15

#### In-Class Exercise #1 <br>
<p>Write an anonymous function that cubes the arguments passed in and assign the anonymous function to a variable 'f'.</p>

In [49]:
(lambda f: f**3)(1)

1

## Map <br>
<p>The map function allows you to iterate over an entire list while running a function on each item of the list. This is why the map function works well with lambda's, because it simplifies things and you write less lines of code.<br>The syntax for a map function is "map(function to be used, list to be used)"<br>However, you must be careful, as the map function returns a map object, not a list. To turn it into a list we use the list() type conversion.</p>

#### Syntax

In [53]:
# Function we want to apply to each element in the list

def squared_minus_two(num):
    return num**2 -2

# Random list
numbers = [2,5,2,7,5,3,4,9]
# create an empty list
new_nums= []
# Loop throughtlist
for num in numbers:
#     apply the function to that element
    new_num= squared_minus_two(num)
#     append the new num to the new_nums list
    new_nums.append(new_num)
    
print(new_nums)

[2, 23, 2, 47, 23, 7, 14, 79]

In [54]:
# map(function, *iterable -> list, tuple, string, set, dict, ect.)

list(map(squared_minus_two, numbers))

[2, 23, 2, 47, 23, 7, 14, 79]

In [56]:
x_values = [1,2,3,4,5,6,7,8,9]
y_values = [10,11,12,13,14,15,16,17,18]


def multiply(x,y):
    print(f"x={x},y={y}")
    return x*y

list(map(multiply,x_values,y_values))

x=1,y=10
x=2,y=11
x=3,y=12
x=4,y=13
x=5,y=14
x=6,y=15
x=7,y=16
x=8,y=17
x=9,y=18

[10, 22, 36, 52, 70, 90, 112, 136, 162]

In [58]:
x_values = [1,2,3,4,5,6,7,8,9]
y_values = [10,11,12]


def multiply(x,y):
    print(f"x={x},y={y}")
    return x*y

list(map(multiply,x_values,y_values))

x=1,y=10
x=2,y=11
x=3,y=12

[10, 22, 36]

In [59]:
list(map(multiply,x_values,y_values))

x=1,y=10
x=2,y=11
x=3,y=12

[10, 22, 36]

#### Using Lambda's with Map

In [60]:
# def squared_minus_two(num):
#     return num**2 -2

numbers_again = [4,7,2,5,14,9]

list(map(lambda num: num**2-2, numbers_again))

[14, 47, 2, 23, 194, 79]

In [65]:
x_vals = [1, 2, 3, 4]
y_vals = [10, 20, 30, 40]

list(map(lambda a, b: b//a, x_vals, y_vals))

[10, 10, 10, 10]

In [66]:

my_map_iterator = map(lambda a, b: b//a, x_vals, y_vals)

print(my_map_iterator)

<map object at 0x0000020D6FF6B370>

In [67]:
for num in my_map_iterator:
    print(num)

10
10
10
10

#### In-Class Exercise #2 <br>
<p>Use the map function to double each number if it is even and halve it if it is odd</p>

In [64]:
numbers = range(1,11)

# [0.5, 4, 1.5, 8, 2.5, 12, 3.5, 16, 4.5, 20]s

list(map(lambda x: x*2 if x%2==0 else x*.5, numbers))

[0.5, 4, 1.5, 8, 2.5, 12, 3.5, 16, 4.5, 20]

## Filter() <br>
<p>Filter's are similar to the map function, where you're able to pass a function argument and a list argument and filter out something from the list based on the conditions passed. Similar to the map function, it returns a filter object, so you need to type convert it to a list()</p>

In [68]:
help(filter)

Help on class filter in module builtins:

class filter(object)
 |  filter(function or None, iterable) --> filter object
 |
 |  Return an iterator yielding those items of iterable for which function(item)
 |  is true. If function is None, return the items that are true.
 |
 |  Methods defined here:
 |
 |  __getattribute__(self, name, /)
 |      Return getattr(self, name).
 |
 |  __iter__(self, /)
 |      Implement iter(self).
 |
 |  __next__(self, /)
 |      Implement next(self).
 |
 |  __reduce__(...)
 |      Return state information for pickling.
 |
 |  ----------------------------------------------------------------------
 |  Static methods defined here:
 |
 |  __new__(*args, **kwargs) from builtins.type
 |      Create and return a new object.  See help(type) for accurate signature.

In [96]:
# list of names
names = ["Bob","Billy",'Alex','Amanda','Amy','Barbara','Catherine']


def starts_with_a(name):
    return name[0].upper() == "A"


# Creates a new list by applying the starts_with_a to every name in names via map
a_names_map = list(map(starts_with_a, names))
print(a_names_map)

[False, False, True, True, True, False, False]

#### Syntax

In [97]:
# filter(function_to_apply, iterable -> list, tuple, set, dict, string, ect) => filter object

a_names_filter = list(filter(starts_with_a, names))
print(a_names_filter)

['Alex', 'Amanda', 'Amy']

In [98]:
def remainder(num):
#     Take in a number and returns the remainder after dividing by 3
    return num %3
my_nums= [x for x in range(1,11)]
print(my_nums)
list(map(remainder, my_nums))

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

[1, 2, 0, 1, 2, 0, 1, 2, 0, 1]

In [99]:
list(filter(remainder, my_nums))
# Returns the value of the original list (my_nums) if the return value from remainder(num) EVALUATES to True

[1, 2, 4, 5, 7, 8, 10]

In [100]:
for i in range(-10,11):
    print(i, bool(i))

-10 True
-9 True
-8 True
-7 True
-6 True
-5 True
-4 True
-3 True
-2 True
-1 True
0 False
1 True
2 True
3 True
4 True
5 True
6 True
7 True
8 True
9 True
10 True

In [101]:
print(bool([])) , print(bool(())) , print(bool({})), print(bool([1])),print(bool((2))),print(bool({3}))

False
False
False
True
True
True

(None, None, None, None, None, None)

#### Using Lambda's with Filter()

In [102]:
list(filter(lambda name: True if name[0].upper() =='A' else False,names))

['Alex', 'Amanda', 'Amy']

In [103]:
list(filter(lambda name:name[0].upper() =='A' , names))

['Alex', 'Amanda', 'Amy']

In [105]:
list (filter(lambda num: num%3, my_nums))

[1, 2, 4, 5, 7, 8, 10]

#### In-Class Exercise #3 <br>
<p>Filter out all the numbers that are below the mean of the list.<br><b>Hint: Import the 'statistics' module</b></p>

In [122]:
from random import randint
random_nums=[randint(1,100) for _ in range(20)]
print(random_nums)

[98, 93, 78, 98, 59, 23, 87, 88, 16, 55, 4, 89, 62, 100, 35, 70, 78, 55, 36, 20]

In [125]:
from statistics import mean
mean(random_nums)
list(filter(lambda x: x >= mean(random_nums), random_nums))

[98, 93, 78, 98, 87, 88, 89, 100, 70, 78]

In [125]:
from statistics import mean
avg = mean(random_nums)

# it will be more efficient to have a vairable to represent mean.
# otherwise as the lambda goes through each number it will do mean each 
# time as opposed to judging it against the number

list(filter(lambda x: x >= avg, random_nums))

[98, 93, 78, 98, 87, 88, 89, 100, 70, 78]

## Reduce() <br>
<p>Be very careful when using this function, as of Python 3 it's been moved to the 'functools' library and no longer is a built-in function.<br>The creator of Python himself, says to just use a for loop instead.</p>

#### Syntax

In [135]:
from functools import reduce

help(reduce)

Help on built-in function reduce in module _functools:

reduce(...)
    reduce(function, sequence[, initial]) -> value

    Apply a function of two arguments cumulatively to the items of a sequence,
    from left to right, so as to reduce the sequence to a single value.
    For example, reduce(lambda x, y: x+y, [1, 2, 3, 4, 5]) calculates
    ((((1+2)+3)+4)+5).  If initial is present, it is placed before the items
    of the sequence in the calculation, and serves as a default when the
    sequence is empty.

In [129]:
def add_nums(x,y):
    print('='*20)
    print(f"x: {x}")
    print(f"y: {y}")
    print(f"returns: {x + y}")
    return x + y
    
result_add = reduce(add_nums, [1,2,3,4,5])
print(result_add)

====================
x: 1
y: 2
returns: 3
====================
x: 3
y: 3
returns: 6
====================
x: 6
y: 4
returns: 10
====================
x: 10
y: 5
returns: 15
15

In [130]:
total = 0
for num in [1,2,3,4,5]:
    print(f'Total:{total}, Num:{num}')
    total +=num
    
print(total)

Total:0, Num:1
Total:1, Num:2
Total:3, Num:3
Total:6, Num:4
Total:10, Num:5
15

#### Using Lambda's with Reduce()

In [134]:
list1 = [2,4,6,8,10]

result_lambda = reduce(lambda num1,num2: num1*num2, list1)

print(result_lambda)

3840

In [136]:
prod =1
for num in list1:
    prod *=num
    
print(prod)

3840

#### In-Class Exercise #4 <br>
<p>Use the reduce function to multiply the numbers in the list below together with a lambda function.</p>

## Recursion <br>
<p>Recursion means that a <strong>function is calling itself</strong>, so it contanstly executes until a base case is reached. It will then push the returning values back up the chain until the function is complete. A prime example of recursion is computing factorials... such that 5! (factorial) is 5*4*3*2*1 which equals 120.</p>

In [140]:
import time

def capitalize(name):
    #takes in a name, uppercases the first letter and lowercases the rest
    return name[0].upper() +name[1:].lower()

def full_name(first,last):
    time.sleep(5)
    #take in a first name, calls the capitalize funtion on the first, takes in the last, tcalls capitalize on last
    #returns concatenated string of first + space + last
    return capitalize(first) + ' ' + capitalize(last)

def greet_person(first_name, last_name, day_of_week):
    #takes in first name, last name, and day of the week sets the person_full_name
    # variable to return when full_name function is called bt passing first_name, last_name
    person_full_name = full_name(first_name, last_name)
    
    print(f"Hello {person_full_name}, isn't it such a beautiful {capitalize(day_of_week)}!")
    
    
greet_person('BeAn',"TRist", "tuESday")

Hello Bean Trist, isn't it such a beautiful Tuesday!

#### Implementing a Base Case

In [141]:
def add_nums(num):
    #Set up a base case
    if num<= 1:
        print(f"add_nums({num})= {num}")
        return num
    else:
        print(f"add_nums({num})= {num} + add_nums({num-1})")
        val = num + add_nums(num-1)
        return val

add_nums(5)

add_nums(5)= 5 + add_nums(4)
add_nums(4)= 4 + add_nums(3)
add_nums(3)= 3 + add_nums(2)
add_nums(2)= 2 + add_nums(1)
add_nums(1)= 1

15

#### Writing a Factorial Function

In [ ]:
# n! = n * n-1!
# 5! = 5 * 4!
# 4! = 4 * 3!
#  ...
# 1! = 1


def factorial(num):
    #setting up the

In [1]:
def recursion(num):
    if num == 0:
        return num + recursion(num - 1)

recursion(5)

#### In-Class Exercise #5 <br>
<p>Write a recursive function that subtracts all numbers to the argument given.</p>

## Generators <br>
<p>Generators are a type of iterable, like lists or tuples. They do not allow indexing, but they can still be iterated through with for loops. They are created using functions and the yield statement.</p>

In [2]:
lengths = map(len, ["Apocalipsis", "Torres", "Google"])

print(lengths)

<map object at 0x0000017404D34730>

In [3]:
for item in lengths:
    print(item)

11
6
6

#### Yield Keyword <br>
<p>The yield keyword denotes a generator, it doesn't return so it won't leave the function and reset all variables in the function scope, instead it yields the number back to the caller.</p>

In [ ]:
def  my_range_iter(start,stop,step=1):
    while start < stop:
        return start
        start+=step
        
my_range_iter(0,10)

In [5]:
def  my_range_iter(start,stop,step=1):
    while start < stop:
        yield start
        start+=step
        
for x in my_range_iter(0,10):
    print(x)

0
1
2
3
4
5
6
7
8
9

In [6]:
my_range = my_range_iter(10,30,2)

In [7]:
next(my_range)

10

#### Infinite Generator

In [11]:
# bad, never create infinite loops


def infinite(x):
    while True:
        yield x
        x += 1
        
infinite_gen = infinite(1)

In [26]:
next(infinite_gen)

# Exercises

### Exercise #1 <br>
<p>Filter out all of the empty strings from the list below</p>

`Output: ['Argentina', 'San Diego', 'Boston', 'New York']`

In [ ]:
places = [" ","Argentina", " ", "San Diego","","  ","","Boston","New York"]

### Exercise #2 <br>
<p>Write an anonymous function that sorts this list by the last name...<br><b>Hint: Use the ".sort()" method and access the key"</b></p>

`Output: ['Victor aNisimov', 'Gary A.J. Bernstein', 'Joel Carter', 'Andrew P. Garfield', 'David hassELHOFF']`

In [35]:
author = ["Joel Carter", "Victor aNisimov", "Andrew P. Garfield","David hassELHOFF","Gary A.J. Bernstein"]

(lambda sort_x: sort_x)(author)

None

### Exercise #3 <br>
<p>Convert the list below from Celsius to Farhenheit, using the map function with a lambda...</p>

`Output: [('Nashua', 89.6), ('Boston', 53.6), ('Los Angelos', 111.2), ('Miami', 84.2)]
`

In [ ]:
# F = (9/5)*C + 32
places = [('Nashua',32),("Boston",12),("Los Angelos",44),("Miami",29)]

for i in places:
    i[1]

list(map())

### Exercise #4 <br>
<p>Write a recursion function to perform the fibonacci sequence up to the number passed in.</p>

`Output for fib(5) => 
Iteration 0: 1
Iteration 1: 1
Iteration 2: 2
Iteration 3: 3
Iteration 4: 5
Iteration 5: 8`

#### Exercise #5 <br>
<p>Create a generator that takes a number argument and yields that number squared, then prints each number squared until zero is reached.</p>